/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   padding-top: 70px;
   padding-bottom: 70px;
 }

 .theme-dropdown .dropdown-menu {
   position: static;
   display: block;
   margin-bottom: 20px;
 }

 .theme-showcase > p > .btn {
   margin: 5px 0;
 }

 .center {
   text-align: center;
 }

.login-box {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
  text-align: center;
  width: 50%;
}

.login-box-left {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
  text-align: left;
  width: 50%;
}

.comment-box {
  padding: 10px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 5px;
  text-align: center;
  width: 70%;
}

.comment-box-left {
  padding: 10px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 5px;
  text-align: left;
  width: 70%;
}

.index-box {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
  text-align: center;
  width: 20%;
}

.field_with_errors input {
  border-style: double;
  border-color: red;
  background-color: hsl(0, 100%, 90%);
}

 .pic,
 .info {
   padding: 20px;
   display: inline-block;
   background-color: #eeeeee;
   border-radius: 7px;
   vertical-align: middle;
   margin: 10px;
 }

 .info {
   height: 290px;
   text-align: left;
 }


 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: gray;
   text-align: center;
 }
